---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} ccoder-ux. All rights reserved.
</footer>
<div class="footer-placeholder"></div>
<style>
	footer {
		position: fixed;
		width: 100%;
		bottom: 0;
		padding: 1em 0 1em 0;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.footer-placeholder{
		height: 74px;
		width: 100%;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
