---
import { type CollectionEntry, getCollection } from 'astro:content';
import HomeLayout from '../layouts/HomeLayout/index.astro'
export async function getStaticPaths() {
    const posts = await getCollection('home');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<'home'>;

const post = Astro.props;
const { Content } = await post.render();
---

<HomeLayout {...post.data}>
    <div class="warppar-page">
        <Content />
    </div>
</HomeLayout>

<style lang="scss">
    .warppar-page{
      padding: 64px;
      max-width: 65ch;
      margin: auto;
    }
</style>
